@mixin flex-nav {
  flex-flow: row wrap;
  justify-content: center;

  list-style: none;
  font-size: 1.2em;

  li:not(:last-of-type) {
    margin-right: 0.75em;
  }
}
@mixin button{
  
  transition:0.5s;
  background-color: #CAD3C8;
  
  &:hover{
    color:#cd6133;
    box-shadow:0.2em 0.3em black;
    transform: translateY(-0.4em);
    background-color: #ccae62;
  }
}