@import "reset";
@import "normalize";
@import "variables";
@import "mixins";
@import "card";

html {
  height: 100%;
  font-size: 16px; 

  body {
    height: 100%;
    position: relative;
  }
}

.header {
  padding: 1em;
  width: 100%;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    .title-text__h1{
      font-size: 2.5em;
      margin-top: 0;
      font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
      text-shadow: 0.1em 0.2em 0.3em #292929;
      letter-spacing: 0.2em;
      -webkit-text-stroke: 0.01em white;
      margin: 0;
      text-align: center;
    }
    .title-text__h3{
      margin: 0;
      text-align: center;
    }
        }
  .nav--main {
    @include flex-nav;
  }
  li :hover {
    
    color:white;
    background-color: black;
  }
  li{
    padding:0.1em 0.5em ;
  }

  li a {
    color:black;
    text-decoration: none;
    text-align: center;
  }

  .nav--dropdown {

    display: inline-block;
    font-size: 1.4em;
   
    .dropbtn {
    
      padding-left: 1em;
      border:none;
    }
    .dropdown__content {
      padding-left: 1em;
      position: absolute;
      display: none;
      transition: all .2s ease-in-out;
      a{
        
        text-align: left;
        background-color: #f9f9f9;
        font-size: 1em;
        display: inline-block;
      }
     }
  }
  .nav--dropdown:hover .dropdown__content {
    display: inline-block;
}
.dropdown__content a:hover, .nav--dropdown:hover .dropbtn a{
  background-color: black;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

}

.nav {
  display: flex;
}

.main-content,
.places , .listings{
  height: 100%;
}

.places {
  padding: 2em 7em;

  .grid {
    height: calc(100% - 7em);

    display: grid;
    grid-row-gap: 1.2em;
    grid-template-columns: repeat(2, 30%) 40%;
    grid-template-rows: 33.33% repeat(2, 16.66%)  33.33%;

    .grid__item {
      &:nth-of-type(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
      }
      
      &:nth-of-type(2) {
        margin-left: 1em;

        grid-column: 3 / 4;
        grid-row: 1 / 3;
      }
  
      &:nth-of-type(3) {
        margin-left: 1em;

        grid-column: 3 / 4;
        grid-row: 3 / 5;
      }
  
      &:nth-of-type(4) {
        margin-left: 1em;

        grid-column: 2 / 3;
        grid-row: 4 / 5;
      }
  
      &:nth-of-type(5) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
      }
    }
  }
}
.listings{
  padding: 2em 7em;
  .grid {
    height: calc(100% - 7em);

    display: grid;
    grid-row-gap: 1.2em;
    grid-template-areas: "a a";
    grid-column-gap: 0.3em;
    grid-auto-rows: 60%;
  }

}

.footer {
  display: none;
  padding: 1.2em;
  width: 100%; 
  position: fixed;
  bottom: 0;

  color: #3B3B98;

  ul {
    @include flex-nav;

    transform: translateY(-.5em);

    li a {
      position: relative;
      color: inherit;
      text-decoration: none;
    }
  }

  &:before { 
    content: "";
    padding: 5em 0;
    display: block;
    width: 200%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #CAD3C8;
    transform: rotate(-4.5deg) translateY(-85px);
    z-index: -1;

  }
}