// base
@import "reset";
@import "normalize";
@import "variables";
@import "mixins";

// components
@import "header";
@import "card";
@import "listings";
@import "listingsForm";
@import "footer";

html {
  height: 100%;
  font-size: 16px; 

  body {
    height: 100%;
    width: 100%;
    position: relative;

    font-family: 'IBM Plex Sans', sans-serif;

    .container {
      height: 100%;
      overflow-x: hidden;
    }
  }
}

.nav {
  display: flex;
}

.main-content,
.places, 
.listings,
.allPlaces {
  height: 100%;
}

.places {
  padding: 2em 7em;

  .grid--main--page {
    height: 100%;

    @include query-above($small) {
         @include home-page-grid();
      }
      @include query-below($small) {
         @include one-column-grid();
      }
  }
}

.listings,
.allPlaces{
  padding: 2em 7em;
 
  .grid--twoColumns {
    height: calc(100% - 7em);

    @include query-above($small)  {
      @include two-columns-grid();
    }
    @include query-below($small) {
      @include one-column-grid();
   }
   
  }
}

