.listings {
  .listings__nav {
    display:flex;
    
    @include query-above($small) {
      justify-content: space-between;
      margin-bottom: 1em; 
      height: 10%;
    }

    @include query-below($small) {
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
    }
  }
  .search__wrapper{
    display: flex;
    justify-content:center;
   
    @include query-above($small){
      border: 1px solid grey;
      width: 45%;
      height: 70%;
      border-radius: 25px;

      .search__button,
      .search__box {
        margin-top: 0.5em;
      }
    }

    .search__box {
      height:70%;  
      width: 56%;
    }

    .search__button {
      height: 70%;
      width: 25%;
      color: hsl(210, 29%, 65%);
      font-size: 1em;
      font-weight: bold;
      background-color:	hsl(204, 70%, 86%);
      transition: opacity .35s ease-in-out;
    }

    .search__button:hover {
      opacity:0.5;
    }
  }

  .listings__nav--new,
  .listings__nav--messages {
    background-color: 	hsl(204, 70%, 86%);
    color:hsl(210, 29%, 65%);
    font-size: 1em;
    font-weight: bold;

    @include query-above($small){
      height:70%;
      width: 20%;
    }
    transition: all .35s ease-in-out;
  }

  button:hover {
    opacity: 0.5;
    font-size: 1.3em;
  }
  
  @include query-below($small){
    .listings__nav--new,
    .listings__nav--messages,
    .search__wrapper{
      margin-bottom: 2em;
    }
  }
}
