<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#4285f4">
  <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
  

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css" integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css" integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ" crossorigin="anonymous">
  <link rel="stylesheet"  type="text/css" href="/css/styles.min.css">
  <title>Account</title>
</head>
<body>
  <header class="header">
    <div class="title">
      <a class="title-text" href="#">
        <h1 class="title-text__h1">Public Study</h1>
        <h3 class="title-text__h3">Meet study mates</h3>
      </a>
      <ul class="nav nav--main">
        <li><a href="index.html">Home</a></li>
        <li><a href="browse-listings.html">Listings</a></li>
        <li><a href="browse-places.html">Places</a></li>
        <li><a href="account.html">Account</a></li>
      </ul>
      
     
    </div>

    <div class="mobile-header">
      <button id="js-nav-trigger" class="menu-trigger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>

      <h2 class="mobile-title">Public Study</h2>
    </div>
    
    <nav id="js-mobile-nav-wrapper" class="mobile-menu-wrapper">
      <button id="js-nav-close" class="menu-close">
        <span class="close"></span>
        <span class="close"></span>
      </button>

      <ul class="nav--mobile">
        <li><a href="index.html">Home</a></li>
        <li><a href="browse-listings.html">Listings</a></li>
        <li><a href="browse-places.html">Places</a></li>
        <li><a href="account.html">Account</a></li>
        
      </ul>
    </nav>
  </header>

  <main class="main-content main--account">
    <section class="account">
      <section class="account-container">
        <div class="account__pic">
          <img id="js-profile-pic" src="" width="230" height="230" alt="Profile picture">
        </div>

        <div class="account__details">
          <div class="details__identity">
            <span class="name"><h2 id="js-name"></h2></span>

            <div class="reviews">
              <div class="positive">
                <span class="count" id="js-likes"></span>
                <span class="fa-icon"><i class="fas fa-thumbs-up"></i></span>
              </div>
              <div class="negative">
                <span class="count" id="js-dislikes"></span>
                <span class="fa-icon"><i class="fas fa-thumbs-down"></i></span>
              </div>
            </div>
          </div>
  
          <div class="details__skills">
            <h3 class="title">Skills</h3>
            <ul id="js-skills" class="skills"></ul>
          </div>
          
          <div class="details__fav-place">
            <h3 class="title">Favourite place</h3>
            <span id="js-favourite-place"></span>
          </div>
        </div>
      </section>

      <section class="listings-container">
        <h2>Listings</h2>

        <!-- TODO: add a class to the <ul>s inside the tabs @razsbg -->
        <div class="listings-tabs">
          <div class="tab">
            <input id="listings--active" type="radio" name="checkbox-group" class="tab__checkbox" checked>
            <label for="listings--active">Active</label>
            <div  class="tab__content">
              <div id="js-listings-active" class="listings--active"></div>
            </div>
          </div>
          <div class="tab">
            <input id="listings--completed" type="radio" name="checkbox-group" class="tab__checkbox">
            <label for="listings--completed">Completed</label>
            <div class="tab__content">
              <div id="js-listings-completed" class="listings--completed">
                <!-- <a href="" class="listing listing--author" data-listing-id="">
                  <section class="listing__title">
                    <h3 id="js-acc-listing-title" class="title">Some marvelous title. Smort. Noice.</h3>
                  </section>

                  <section class="listing__info">
                  <span id="js-acc-listing-role" class="role">Author</span>
                    <span id="js-acc-listing-place" class="place">Cărturești</span>
                  </section>

                  <span id="js-acc-listing-type" class="type">Coding</span>
                </a> -->
              </div>
            </div>
          </div>

          <div class="tab">
            <input id="listings--requests" type="radio" name="checkbox-group" class="tab__checkbox" checked>
            <label for="listings--requests">Requests</label>
            <div class="tab__content">
              <div id="js-listings-requests" class="requests">
                <!-- <article class="request">
                  <img src="https://lh4.googleusercontent.com/-jVeZqV0z--8/AAAAAAAAAAI/AAAAAAAAHO8/rE7uL1lvkZQ/photo.jpg" alt="User profile photo" class="profile-pic">

                  <section class="request__content">
                    <span class="name">Ionuț Golăescu</span>
                    has requested to join your
                    <span class="listing-title">meToo - PWA</span>
                    listing.

                    <section class="request__actions">
                      <button class="accept">Accept</button>
                      <button class="deny">Deny</button>
                    </section>
                  </section>
                </article> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>

  <footer class="footer">
    <ul class="nav nav--footer">
      <li><a href="#">Home</a></li>
      <li><a href="#">Listings</a></li>
      <li><a href="#">Places</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </footer>

  <script src="/js/Utilities/localforage.js"></script>
  <script type="module" src="/js/main.js"></script>
</body>
</html>