<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#4285f4">

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
  <link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.2/css/solid.css"
			integrity="sha384-uKQOWcYZKOuKmpYpvT0xCFAs/wE157X5Ua3H5onoRAOCNkJAMX/6QF0iXGGQV9cP"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.4.2/css/fontawesome.css"
			integrity="sha384-HU5rcgG/yUrsDGWsVACclYdzdCcn5yU8V/3V84zSrPDHwZEdjykadlgI6RHrxGrJ"
			crossorigin="anonymous"
		/>
  <link rel="stylesheet"  type="text/css" href="/css/styles.min.css">
  <title>Single place</title>
</head>

<body>
  <header class="header" >
    <div class="title">
      <a class="title-text" href="#">
        <h1 class="title-text__h1">Public Study</h1>
        <h3 class="title-text__h3">Meet study mates</h3>
      </a>
      <ul class="nav nav--main">
        <li><a href="index.html">Home</a></li>
        <li><a href="browse-listings.html">Listings</a></li>
        <li><a href="browse-places.html">Places</a></li>
        <li><a href="account.html">Account</a></li>
        <li>
          <input name="notifications-checkbox" id="notifications-trigger" type="checkbox" />
          <label for="notifications-trigger"><i class="fas fa-bell fa-icon"></i></label>
          <ul id="js-notification-container" class="notifications-container"></ul>
        </li>
      </ul>
     
    </div>

    <div class="mobile-header">
      <button id="js-nav-trigger" class="menu-trigger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>

      <h2 class="mobile-title">Public Study</h2>
    </div>

    <nav id="js-mobile-nav-wrapper" class="mobile-menu-wrapper">
      <button id="js-nav-close" class="menu-close">
        <span class="close"></span>
        <span class="close"></span>
      </button>

      <ul class="nav--mobile">
        <li><a href="index.html">Home</a></li>
        <li><a href="browse-listings.html">Listings</a></li>
        <li><a href="browse-places.html">Places</a></li>
        <li><a href="account.html">Account</a></li>
       
      </ul>
    </nav>
  </header>

  <div id="js-loader" class="loader in-view">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>

  <main class="main-content main-content-place hidden">
    <section class="place-info">
      <div class="place-grid">
        <div class="place-grid__item" id="js-place-img">
         
        </div>
        <div class="place-grid__item">
          <h2 id="js-place-name" class="place-info__title"></h2>
          <div class="place-info__container">
            <div class="place-info__listings-container">
              <div class="place-listings__selector">
                <input id="listings__selector-button--inprogress" type="radio" name="checkbox-group" class="listings__checkbox"
                  checked>
                <label for="listings__selector-button--inprogress">
                  <div class="listings__selector-title__container">
                    <h3 class="listings__selector-title">Listings in progress</h5>
                  </div>
                </label>
                <div class="place-listings__content">
                  <div id="js-listings-in-progress" class="flex">
                    
                  </div>
                </div>
              </div>
              <div class="place-listings__selector">
                <input id="listings__selector-button--finished" type="radio" name="checkbox-group" class="listings__checkbox">
                <label for="listings__selector-button--finished">
                  <div class="listings__selector-title__container">
                    <h3 class="listings__selector-title">Finished listings</h5>
                  </div>
                </label>
                <div class="place-listings__content">
                  <div id="js-finished-listings" class="flex">

                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="place-grid__item">
          <div class="place-subscribe__container">
            <div id="js-subscribe-button" class="place-listings__button">
              <h2 id="js-subscribe-title">Subscribe</h2>
            </div>
            <div class="place-listings__subscribers">
              <span class="place-listings__subscribers-number"> <a id="js-subscribers-count" href="#"></a>
                people subscribed
              </span>
            </div>
          </div>
        </div>
      </div>
      <div id="subscribed-peopleJS" class="subscribed-modal">
        <div id="subscribed-people__contentJS" class="subscribed-modal__content">
          <div class="subscribed-modal__content-header">
            <span id="closeJS" class="subscribed-modal__close">&times;</span>
            <h3 class="subscribed-modal__title">Subscribed people</h3>
          </div>
          <div id="js-subscribers-modal" class="subscriber-modal__content-flex">
          
          </div>
        </div>

      </div>
    </section>

  </main>

  <footer class="footer">
    <ul class="nav nav--footer">
      <li><a href="#">Home</a></li>
      <li><a href="#">Listings</a></li>
      <li><a href="#">Places</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </footer>
  <script src="/js/Utilities/localforage.js"></script>
  <script type="module" src="/js/main.js"></script>
</body>

</html>