<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#4285f4">
  
  <script src="/js/cookie.js"></script>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
  <link rel="stylesheet"  type="text/css" href="/css/styles.min.css">

  <title>Single place</title>
</head>

<body>
  <header class="header" >
    <div class="title">
      <a class="title-text" href="#">
        <h1 class="title-text__h1">Public Study</h1>
        <h3 class="title-text__h3">Meet study mates</h3>
      </a>
      <ul class="nav nav--main">
        <li><a href="index.html">Home</a></li>
        <li><a href="browse-listings.html">Listings</a></li>
        <li><a href="browse-places.html">Places</a></li>
        <li><a href="account.html">Account</a></li>
        
      </ul>
     
    </div>

    <div class="mobile-header">
      <button id="js-nav-trigger" class="menu-trigger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>

      <h2 class="mobile-title">Public Study</h2>
    </div>

    <nav id="js-nav-wrapper" class="mobile-menu-wrapper">
      <button id="js-nav-close" class="menu-close">
        <span class="close"></span>
        <span class="close"></span>
      </button>

      <ul class="nav--mobile">
        <li><a href="index.html">Home</a></li>
        <li><a href="browse-listings.html">Listings</a></li>
        <li><a href="browse-places.html">Places</a></li>
        <li><a href="account.html">Account</a></li>
       
      </ul>
    </nav>
  </header>

  <main class="main-content-place">
    <section class="place-info">
      <div class="place-grid">
        <div class="place-grid__item">
          <img src=" /images/carturesti-medium.jpg">
        </div>
        <div class="place-grid__item">
          <h2 class="place-info__title">Carturesti</h2>
          <div class="place-info__container">
            <div class="place-info__listings-container">
              <div class="place-listings__selector">
                <input id="listings__selector-button--inprogress" type="radio" name="checkbox-group" class="listings__checkbox"
                  checked>
                <label for="listings__selector-button--inprogress">
                  <div class="listings__selector-title__container">
                    <h3 class="listings__selector-title">Listings in progress</h5>
                  </div>
                </label>
                <div class="place-listings__content">
                  <div class="flex">

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Proiect CLIW</h3>
                          <ul class="skills-req">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Costandache Ovidiu Costi</span>
                          </a>
                          <a href="#"><span class="place">The Grape</span></a>
                        </div>

                        <span class="listing__type">code</span>
                      </article>
                    </div>

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Neural Networks</h3>
                          <ul class="skills-req">
                            <li>Machine Learning</li>
                            <li>Statistics</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Georgescu Vlad</span>
                          </a>
                          <a href="#"><span class="place">FabLab</span></a>
                        </div>

                        <span class="listing__type">study</span>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
              <div class="place-listings__selector">
                <input id="listings__selector-button--finished" type="radio" name="checkbox-group" class="listings__checkbox">
                <label for="listings__selector-button--finished">
                  <div class="listings__selector-title__container">
                    <h3 class="listings__selector-title">Finished listings</h5>
                  </div>
                </label>
                <div class="place-listings__content">
                  <div class="flex">

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Proiect CLIW</h3>
                          <ul class="skills-req">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Costandache Ovidiu Costi</span>
                          </a>
                          <a href="#"><span class="place">The Grape</span></a>
                        </div>

                        <span class="listing__type">code</span>
                      </article>
                    </div>

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Neural Networks</h3>
                          <ul class="skills-req">
                            <li>Machine Learning</li>
                            <li>Statistics</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Georgescu Vlad</span>
                          </a>
                          <a href="#"><span class="place">FabLab</span></a>
                        </div>

                        <span class="listing__type">study</span>
                      </article>
                    </div>

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Proiect CLIW</h3>
                          <ul class="skills-req">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Costandache Ovidiu Costi</span>
                          </a>
                          <a href="#"><span class="place">The Grape</span></a>
                        </div>

                        <span class="listing__type">code</span>
                      </article>
                    </div>

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Neural Networks</h3>
                          <ul class="skills-req">
                            <li>Machine Learning</li>
                            <li>Statistics</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Georgescu Vlad</span>
                          </a>
                          <a href="#"><span class="place">FabLab</span></a>
                        </div>

                        <span class="listing__type">study</span>
                      </article>
                    </div>

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Proiect CLIW</h3>
                          <ul class="skills-req">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Costandache Ovidiu Costi</span>
                          </a>
                          <a href="#"><span class="place">The Grape</span></a>
                        </div>

                        <span class="listing__type">code</span>
                      </article>
                    </div>

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Neural Networks</h3>
                          <ul class="skills-req">
                            <li>Machine Learning</li>
                            <li>Statistics</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Georgescu Vlad</span>
                          </a>
                          <a href="#"><span class="place">FabLab</span></a>
                        </div>

                        <span class="listing__type">study</span>
                      </article>
                    </div>

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Proiect CLIW</h3>
                          <ul class="skills-req">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Costandache Ovidiu Costi</span>
                          </a>
                          <a href="#"><span class="place">The Grape</span></a>
                        </div>

                        <span class="listing__type">code</span>
                      </article>
                    </div>

                    <div class="flex__item">
                      <article class="listing">
                        <div class="listing__content">
                          <h3 class="title">Neural Networks</h3>
                          <ul class="skills-req">
                            <li>Machine Learning</li>
                            <li>Statistics</li>
                          </ul>

                          <div class="actions">
                            <button id="js-join" class="join">Join</button>
                            <a href="" class="view-listing">View Listing</a>
                          </div>
                        </div>

                        <div class="listing__meta">
                          <a href="#">
                            <span class="author">Georgescu Vlad</span>
                          </a>
                          <a href="#"><span class="place">FabLab</span></a>
                        </div>

                        <span class="listing__type">study</span>
                      </article>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="place-info__details-container">
              <div class="place-info__slideshow-container">
                <div class="slide">
                  <img src=" /images/user-exemple.jpg">
                  <div class="slide__text"> Most active user</div>
                </div>
                <div class="slide">
                  <img src=" /images/java.png">
                  <div class="slide__text"> Favourite language</div>
                </div>
                <div class="slide">
                  <img src=" /images/study.jpg">
                  <div class="slide__text">Prefered type of listings</div>
                </div>
                <a class="next" onclick="plusSlides(-1)">&#10095;</a>
                <a class="prev" onclick="plusSlides(1)">&#10094;</a>
              </div>
            </div>
          </div>
        </div>
        <div class="place-grid__item">
          <div class="place-subscribe__container">
            <div class="place-listings__button">
              <h2>Subscribe </h2>
            </div>
            <div class="place-listings__subscribers">
              <span class="place-listings__subscribers-number"> <a id="subscribers" href="#">100000</a>
                people subscribed
              </span>
            </div>
          </div>
        </div>
      </div>
      <div id="subscribed-peopleJS" class="subscribed-modal">
        <div id="subscribed-people__contentJS" class="subscribed-modal__content">
          <div class="subscribed-modal__content-header">
            <span id="closeJS" class="subscribed-modal__close">&times;</span>
            <h3 class="subscribed-modal__title">Subscribed people</h3>
          </div>
          <div class="subscriber-modal__content-flex">
            <div class="subscriber-container">
              <img class="subscriber__pic" src=" /images/user-profile-pic.jpg">
              <div class="subscriber__info">
                <h3 class="subscriber__info-name">Gelu Samadau</h3>
                <button class="subscriber__info-profile">View profile</button>
              </div>
            </div>
            <div class="subscriber-container">
              <img class="subscriber__pic" src=" /images/user-profile-pic.jpg">
              <div class="subscriber__info">
                <h3 class="subscriber__info-name">Gelu Samadau</h3>
                <button class="subscriber__info-profile">View profile</button>
              </div>
            </div>
            <div class="subscriber-container">
              <img class="subscriber__pic" src=" /images/user-profile-pic.jpg">
              <div class="subscriber__info">
                <h3 class="subscriber__info-name">Gelu Samadau</h3>
                <button class="subscriber__info-profile">View profile</button>
              </div>
            </div>
            <div class="subscriber-container">
              <img class="subscriber__pic" src=" /images/user-profile-pic.jpg">
              <div class="subscriber__info">
                <h3 class="subscriber__info-name">Gelu Samadau</h3>
                <button class="subscriber__info-profile">View profile</button>
              </div>
            </div>
            <div class="subscriber-container">
              <img class="subscriber__pic" src=" /images/user-profile-pic.jpg">
              <div class="subscriber__info">
                <h3 class="subscriber__info-name">Gelu Samadau</h3>
                <button class="subscriber__info-profile">View profile</button>
              </div>
            </div>
            <div class="subscriber-container">
              <img class="subscriber__pic" src=" /images/user-profile-pic.jpg">
              <div class="subscriber__info">
                <h3 class="subscriber__info-name">Gelu Samadau</h3>
                <button class="subscriber__info-profile">View profile</button>
              </div>
            </div>
            <div class="subscriber-container">
              <img class="subscriber__pic" src=" /images/user-profile-pic.jpg">
              <div class="subscriber__info">
                    <h3 class="subscriber__info-name">Gelu Samadau</h3>
                    <button class="subscriber__info-profile">View profile</button>
              </div>
          </div>
          </div>
        </div>

      </div>
    </section>

  </main>

  <footer class="footer">
    <ul class="nav nav--footer">
      <li><a href="#">Home</a></li>
      <li><a href="#">Listings</a></li>
      <li><a href="#">Places</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </footer>

  <script src=" /js/mobile-nav.js"></script>
  <script src=" /js/single-place.js"></script>
</body>

</html>