.main--account {
  display: flex;
  flex-direction: column;

  .account {
    padding: 0 3em;
  
    .account-container {
      display: grid;
      grid-template-columns: 230px 30px 1fr;
  
      .account__pic {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        border-radius: 7px;
        max-width: 230px;
        max-height: 230px;
        overflow: hidden;
        box-shadow: 3px 4px 15px hsl(184, 9%, 70%);        

        img {
          width: 100%;
          height: auto;  
        }
      }
  
      .account__details {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
  
        .details__identity {
          margin-bottom: 1em;
          display: flex;
          align-items: center;

          .name {
            margin-right: 2em;
          }

          .reviews {
            display: flex;
            align-items: baseline;
            font-size: 1.1em;
            pointer-events: none;
    
            .positive {
              margin-right: .5em;
    
              .fa-icon {
                color: hsl(168, 76%, 36%);
              }
            }
    
            .negative .fa-icon {
              color: 	hsl(6, 78%, 57%);
            }
          } 
        }
        
        .details__skills {
          margin-bottom: 1em;;
  
          .title {
            margin-bottom: .4em;
          }
  
          .skills {
            display: flex;
    
            .skill {
              padding: .2em .3em;
              border: 1px solid hsl(210, 29%, 29%);
              cursor: default;
    
              &:not(:last-of-type){
                margin-right: .5em;
              }
            }
          }
        }
  
        .details__fav-place {
          .title {
            margin-bottom: .4em;
          }
        }
      }
    }
  }

  .account-listings {
    padding: 2.5em 3em 0;

    h2 {
      margin-bottom: 1em;
    }

    .listings-tabs {
      border-bottom: 1px solid hsl(216, 5%, 82%);     
      display: flex;
      position: relative;

      .tab {
        &:not(:last-of-type) {
          margin-right: 1em;
        }

        .tab__checkbox {
          display: none;

          &:checked + label {
            color: hsl(204, 70%, 53%);
          }

          &:checked ~ .tab__content {
            display: block;
          }
        }

        label {
          border-bottom: 2px solid transparent;
          cursor: pointer;
          font-size: 1.1em;
          font-weight: 600;

          &:hover {
            border-color: hsl(204, 70%, 53%);
          }
        }

        .tab__content {
          position: absolute;
          top: 2em;
          left: 0;
          
          width: 100%;
          display: none;
          transition: all .3s ease-in-out;
          @include listings;
        }
      }
    }
  }
}
