.main--account {
  display: flex;
  flex-flow: column nowrap;

  .account {
    color: hsl(210, 28%, 29%);
    .account-container {
      margin-bottom: 2em;
      display: grid;
      grid-template-columns: 230px 20px 1fr;
  
      .account__pic {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        border-radius: 7px;
        max-width: 230px;
        max-height: 230px;
        overflow: hidden;
        box-shadow: 0 1rem 3rem hsla(0, 0%, 0%, 0.15);

        img {
          border-radius: 7px;
          max-width: 100%;
          height: auto;  
        }
      }
      
      .account__details {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
  
        .details__identity {
          margin-bottom: 1em;
          display: flex;
          align-items: center;

          .name {
            margin-right: 2em;
          }

          .reviews {
            display: flex;
            align-items: baseline;
            font-size: 1.1em;
            pointer-events: none;
    
            .positive {
              margin-right: .5em;
    
              .fa-icon {
                color: hsl(168, 76%, 36%);
              }
            }
    
            .negative .fa-icon {
              color: 	hsl(6, 78%, 57%);
            }
          } 
        }
        
        .details__skills {
          margin-bottom: .75em;

          .title {
            font-weight: 500;
          }
  
          .skills {
            display: flex;
            flex-flow: row wrap;

            &:nt ~ .edit {

            }
    
            .skill {
              padding: .2em .3em;
              border: 1px solid hsl(210, 29%, 29%);
              margin-top: .5em;
              cursor: default;
              background-color: white;
              box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    
              &:not(:last-of-type){
                margin-right: .5em;
              }
            }

            .add-skill,
            .edit {
              transition: all .15s ease-in;
            }

            .add-skill {
              border: 0;
              opacity: 0;
              pointer-events: none;
              font-size: 1.25em;
              background-color: transparent;

              &:nth-child(1),
              &.in-view {
                opacity: 1;
                pointer-events: auto;
              }
            }

            .edit {
              padding: 0;
              border: 0;
              margin-top: .5em;
              flex: 1 0 100%;
              
              opacity: 1;
              pointer-events: auto;
              text-align: left;
              font-weight: 600;
              color: hsl(204, 70%, 53%);
              background-color: transparent;
  
              &:nth-child(2) {
                opacity: 0;
                pointer-events: none;
              }
              
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
  
        .details__fav-place .title {
          margin-bottom: .5em;
          font-weight: 500;
        }
      }
    }

    .listings-container {

      h2 {
        margin-bottom: 1em;
      }
  
      .listings-tabs {
        border-bottom: 1px solid hsl(216, 5%, 82%);     
        display: flex;
        position: relative;
  
        .tab {
          &:not(:last-of-type) {
            margin-right: 1em;
          }
  
          .tab__checkbox {
            display: none;
  
            &:checked + label {
              color: hsl(204, 70%, 53%);
            }
  
            &:checked ~ .tab__content {
              display: block;
            }
          }
  
          label {
            border-bottom: 2px solid transparent;
            cursor: pointer;
            font-size: 1.1em;
            font-weight: 600;
  
            &:hover {
              border-color: hsl(204, 70%, 53%);
            }
          }
  
          .tab__content {
            margin-top: .5em;
            position: absolute;
            top: 2em;
            left: 0;
            
            width: 100%;
            display: none;
            transition: all .3s ease-in-out;

            .listings--active,
            .listings--completed {
              padding-top: .5em;
              display: flex;
              flex-flow: column nowrap;
            }

            .listings--active .listing,
            .listings--completed .listing {
              padding: .5em;
              border: 2px dashed currentColor;
              display: flex;
              flex-flow: column;
              max-width: 80%;

              transition: border-color .15s ease-in-out;
              text-decoration: none;
              color: inherit;

              &:not(:last-of-type) {
                margin-bottom: 1em;
              }

              &:nth-of-type(2n) {
                align-self: flex-end;
              }

              .listing__title {
                margin-bottom: .5em;
              }
              
              .listing__info {
                display: flex;
                
                .role {
                  transition: color .15s ease-in-out;
                  font-weight: 600;

                  &:after {
                    content: "@";
                    margin: 0 .25em;
                    display: inline-block;
                    font-weight: 500;
                  }
                }
              }

              @include query-below($xsmall) {
                max-width: 100%;

                &:nth-of-type(2n) {
                  align-self: auto;
                }
              }

              @include query-above($xsmall) {
                & {
                  align-self: flex-start;
                }
                
                .listing__title {
                  align-self: flex-start;
                }

                .listing__info {
                  align-self: flex-start;
                }

                .type {
                  align-self: flex-start;
                }
              }
            }

            .listings--active .listing {
              &.listing--author:hover,
              &.listing--contributor:hover {
                border-color: hsl(282, 44%, 47%);
              }

              &.listing--author:hover .role {
                color: hsl(48, 89%, 45%);
              }

              &.listing--contributor:hover .role{
                color: hsl(168, 76%, 42%);
              }

              &.listing--author {
                border-color: hsl(48, 89%, 45%);
              }

              &.listing--contributor {
                border-color: hsl(168, 76%, 42%);
              }
            }

            .listings--completed .listing:hover {
              border-color: hsl(282, 44%, 47%);
            }
          }
        }
      }
    }

    @include content-container-padding;
  }
}
