.error{
  color: red;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
}

.main-content.main-content--add-listing {
  padding-left: 2em;
  padding-top: 2em;
  margin: 0;
  
  height: 85%;
  width: 100%;
  overflow: hidden;
  
  .slider{
    //padding: 2%;
    height:100%;
    width: 300%;
    display:flex;
    transform: translateX(-33.33%);
    transition: all 0.5s;
    
    &.move-right{
      transform: translateX(0);
    }
    
    &.move-left{
      transform: translateX(-66.66%);
    }
    
    .listing-type {
      height: 100%;
      width: 33.33%;
      position: relative;

      .type-wrapper {
        display: flex;
        position: absolute;
        height: 50%;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        .study,
        .implement {
          position: relative;
          width: 100%;
          border: 2px solid transparent;

          font-family: 'IBM Plex Mono', monospace;
          color: hsl(192, 16%, 94%);
          background-color: hsl(28, 80%, 50%);
          cursor: pointer;
          transition: all .15s ease-in-out;

          &:hover {
            color: hsl(28, 80%, 50%);
            border-color: hsl(28, 80%, 50%);
            background-color: hsl(192, 16%, 94%);
          }

          .fas,
          .title {
            pointer-events: none;
          }

          .fas {
            position: absolute;
            top: 50%;
            left: 50%;

            font-size: 5em;
            transform: translate(-50%, -50%);
          }

          .title {
            position: absolute;
            top: 2em;
            left: 50%;

            font-size: 1.7em;
            text-transform: uppercase;
            transform: translate(-50%,-50%);
          }  
        }

        .implement{
          margin-left: 2em;
        }
      }
    }

    .listing-form {
      display: grid;

      grid-template-columns: auto 100%;
      grid-template-rows: 100%;
      justify-items: center;
     
      position: relative;
      height: 100%;
      width: 33.33%;

      .listings__form-list {
        display: grid;
        grid-column: 1;
        margin-right: 1em;
      
        .list-step {
          color: hsl(204, 8%, 76%);
          display: grid;
          grid-template-rows: auto 100%;
          height: 100%;

          &:before {
            content: "";
            display: block;
            grid-row: 2;
            grid-column: 1;

            position: relative;
            left: 50%;
            width: 4px;
            background-color: currentColor;
            transition: color 0.5s ease;
            transform: translateX(-50%);
          }

          &:last-child:before,
          &:last-child:after {
            display: none;
          }

          &:first-child {
            color: hsl(28, 80%, 50%);
            
            span {
              background-color: hsl(28, 80%, 50%);
            }
          }

          span {
            display: grid;
            place-items: center;
            position: relative;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            color: #fff;
            background-color: hsl(204, 8%, 76%);
          }

        }
      }

      .form__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        grid-row: 1;
        grid-column: 2;

        color: hsl(210, 29%, 24%);
        transition: opacity .4s ease-in-out, transform .7s ease-out .15s;
        max-width: 30em;

        &.is-visible {
          transform: translateY(0);
          opacity: 1;
        }

        &.hidden {
          transform: translateY(100%);
          opacity: 0;
          pointer-events: none;
        }

        .form__section--h1 {
          text-decoration: none;
        }

        .form__section--curentQuestion {
          opacity: 0.8;
          font-weight: bold;
          letter-spacing: 1px;
        }

        .form__section--p {
          margin-bottom: 2em;
        }

        .form__section--input {
          border:none;
          border-bottom: 1px black dotted;
          min-width: 10em;

          appearance: none;
          background-color: transparent;
          transition: border-color 0.3s ease;

          &:focus{
            outline:0;
          }
        }

        .form__section--button {
          padding: 1rem;
          border: 1px solid transparent;
          border-radius: 2px;
          margin-top: 1em;

          display: inline-block;
          outline: 0;
          appearance: none;
          background-color: hsl(28, 80%, 50%);
          color: hsl(192, 16%, 94%);
          text-transform: uppercase;
          font-size: 0.75em;
          letter-spacing: 2px;

          transition: all .2s ease-in-out;

          &:hover {
            color: hsl(28, 80%, 50%);
            border-color: hsl(28, 80%, 50%);
            background-color: hsl(192, 16%, 94%);
          }
        }
      }
      
      .reset {    
        border: none;
        width:8em;
        height: 5em;

        display: inline-block;
        position: absolute;
        bottom: 2em;
        right: 2em;
        
        appearance: none;
        background-color: hsl(28, 80%, 50%);
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 2px;
        opacity: 0.8;
        transition: all 0.75s;
        
        &:hover {
          background-color: red;
        }
      }
    }
  }
}