.header {
  padding: 1em;
  width: 100%;
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
 
  color: hsl(210, 29%, 29%);
  background-color:	hsl(203, 57%, 82%);

  .title {
    display: flex;
    justify-content: center;
    align-items: center;

    .title-text {
      text-decoration: none;
      color: inherit;
    }

    .title-text__h1 {
      margin-top: 0;
      margin-bottom: .5em;
      font-size: 1.7em;
      letter-spacing: 0.2em;
    }

    .title-text__h3 {
     color:	hsl(210, 29%, 65%);
     text-align: center;
    }

    @include query-below($lap) {
      display: none;
    }
  }

  .nav--main {
    @include flex-nav;

    padding-left: 3.5em;
    
    li {
      @include hover-effect-nav(10px, 10px);

      &:hover {
        a {
          color:	hsl(28, 80%, 50%);
        }
      }
      
      padding: 0.1em 0.5em;
      position: relative;
      
      a {
        text-decoration: none;
        text-align: center;
        color: inherit;

        transition: color .1s ease-in-out;
      }
    }

    @include query-below($desk) {
      padding-left: 1em;
    }
  }

  .nav--modal {
    margin-left: 1em;

    display: inline-block;
    font-size: 1.4em;
   
    .modal__button {
      border: none;
      
      a {
        @include hover-effect-nav(0, 0);

        position: relative;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: hsl(28, 80%, 50%);
          cursor: pointer;
        }
      }
    }
    .modal__content{
      position: fixed;
      display: none;

      z-index: 1;
      top:0;
      left:0;

      width: 100%;
      height: 100%;
      overflow: auto; 

      background-color: rgba(0,0,0,0.4);
      

      .modal__content-list{
        position: relative;
     
        background-color: #EBEBF1;
        border: 1px solid #888;
        margin:auto;

        top: 25%;

        width: 30%;
        height: 50%;

        .modal-content__close {
          position: absolute;
          right:1%;
          top:0;
          color: #aaaaaa;

          font-size: 2em;
          font-weight: bold;

          &:hover{
              color: #000;
              text-decoration: none;
              cursor: pointer;
         }  
        }    
        
        .modal__content-title{
          position: absolute;
          
          left: 50%;
          top: 15%;

          transform: translateX(-50%);

        }

        .list__element{
          position: absolute;
          width: 90%;

          left: 5%;

          border: 1px solid;
          box-shadow: 3px 4px 15px hsl(184, 9%, 70%);    
          
          img{
            padding: 0.5em;

            height: 100%;
            width: 15%;
          }
          .list__element-name{
            position: absolute;
            width: 80%;
            height: 100%;

            left:20%;
            top:50%;
            
            transform: translateY(-50%);
      
            a{
              position: absolute;
                          
              left:40%;
              top: 50%;

              transform: translateY(-50%);
            }
          }
        
        }
        .list__element--google{
          top:35%;

          color: red;
          &:hover {
            cursor: pointer;
            
          }
        }
        .list__element--github{
          top:65%;
          &:hover {
            cursor: pointer;
            
          }
        }
      }
    }
    .modal__login-page{
      background-color: transparent;
      
      display: block;
      top:10%;
      left:0;

      width: 100%;
      height: 100%;
    }

    &:hover .modal__button > a {
      color: hsl(28, 80%, 50%);
      &:before,
      &:after {
        opacity: 1;
      }

      &:before {
        transform: translateX(-15px);
      }
  
      &:after {
        transform: translateX(15px);
      }
    }


    @include query-below($desk) {
      margin-left: .5em;
    }
  }

  .mobile-header {
    @include query-above($lap) {
      display: none;
    }

    display: flex;
    justify-content: space-between;

    .menu-trigger {
      padding: .3em;
      border: 0;
      position: relative;
      width: 50px;
      height: 35px;
      outline: 0;
      background-color: transparent;
  
      .burger-line {
        position: absolute;
        left: .3em;
        display: inline-block;
        width: calc(100% - .6em);
        height: 4px;
        background-color: hsl(210, 29%, 24%);
  
        &:nth-of-type(1) {
          top: .3em;
        }
  
        &:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%)
        }
  
        &:nth-of-type(3) {
          bottom: .3em;
        }
      }
    }
  }

  .mobile-menu-wrapper {
    padding: 45px 1em 0 .2em;
    border-right: 1px solid hsl(210, 29%, 24%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;

    background-color:	hsl(203, 57%, 82%);
    transition: transform .3s ease-in-out;
    transform: translateX(-100%);

    &.is-visible {
      transform: translateX(0);
    }

    .menu-close {
      padding: .3em;
      border: 0;
      position: absolute;
      top: 5px;
      left: 50%;

      width: 40px;
      height: 40px;
      outline: 0;
      background-color: transparent;
      transform: translateX(-50%);

      .close {
        position: absolute;
        top: 50%;
        left: 50%;

        display: inline-block;
        width: 4px;
        height: 100%;
        background-color: hsl(210, 29%, 24%);
        transform-origin: center center;

        &:nth-of-type(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-of-type(2) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }

    .nav--mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 1.5em;

      li {
        &:not(:last-of-type) {
          margin-bottom: .7em;
        }

        a {
          text-decoration: none;
          color: hsl(210, 29%, 24%);
        }
      }
    }
  }
}