.b--listings {
  position: relative;
}

.listings {
  padding: 1em 20em;
  height: 100%;

  .listings__nav {
    margin-bottom: 1.5em;
    display: flex;
  }

  .search__wrapper {
    display: flex;
    width: 100%;

    .search__box {
      height: 100%;
      width: 100%;
    }

    .search__button {
      width: 30%;
      color: hsl(210, 29%, 65%);
      font-size: 1em;
      font-weight: bold;
      background-color: hsl(204, 70%, 86%);
      transition: all .15s ease-in-out;
    }

    .search__button:hover {
      color: white;
      background-color: #9b58b6;
    }
  }

  .listings__nav--new:hover {
    color: white;
    background-color: #e6791a;
  }

  .listings__nav--new,
  .listings__nav--messages {
    background-color: hsl(204, 70%, 86%);
    color: hsl(210, 29%, 65%);
    font-size: 1em;
    font-weight: bold;

    @include query-above($lap) {
      height: 100%;
      width: 30%;
    }

    transition: all .15s ease-in-out;
  }

  .flex .loader {
    opacity: 0;
    pointer-events: none;
    
    &:only-child {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @include listings;

  @include content-container-padding;

}

@include query-above($default) {
  margin: 1em 0;
}
